@model CoreBridge.ViewModels.MUserIndexViewModel
@{
    Layout = "_TopLayout";
}
<!-- ユーザー登録 （試作品：COSMOSの管理タブのユーザー情報画面 ）-->
<div class="w-full flex flex-wrap">
    <!-- Register Section -->
    <div class="w-full md:w-1/2 flex flex-col">

        @Html.Partial("_logo")

        <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
            <p class="text-center text-3xl">Join Us.</p>
            @Html.Partial("_FormError")
            <!-- コントローラー変更 → 管理ユーザー登録できるコントローラーへ -->
            <form class="flex flex-col pt-3 md:pt-8" asp-controller="AppManagementUser" asp-action="Confirm" method="post">
                @Html.AntiForgeryToken()
                <div class="flex flex-col pt-4">
                    <label for="name" class="text-lg">User ID</label>
                    <input asp-for="@Model.AppUserDto.UserId" type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                </div>
                <div class="flex flex-col pt-4">
                    <label for="Role" class="text-lg">Title Code</label>
                    <select asp-for="@Model.AppUserDto.Role" class="form-control" asp-items="Html.GetEnumSelectList<ManagementRoleEnum>()"></select>
                    <input asp-for="@Model.AppUserDto.Role" type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                </div>
                <div class="flex flex-col pt-4">
                    <label for="title Code" class="text-lg">Title Code</label>
                    <input asp-for="@Model.AppUserDto.TitleCode" type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                </div>
                <div class="flex flex-col pt-4">
                    <label for="email" class="text-lg">Title Code</label>
                    <input asp-for="@Model.AppUserDto.Email" type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                </div>
                <div class="flex flex-col pt-4">
                    <label for="password" class="text-lg">Password</label>
                    <input asp-for="@Model.AppUserDto.Password" type="password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                </div>
                <div class="flex flex-col pt-4">
                    <label for="confirm-password" class="text-lg">Confirm Password</label>
                    <input asp-for="@Model.AppUserDto.ConfirmPassword" type="password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                </div>
                <input type="submit" value="Register" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8" />
            </form>
            <div class="text-center pt-12 pb-12">
                <p>Already have an account? <a href="/" class="underline font-semibold">Log in here.</a></p>
            </div>
        </div>

    </div>
</div>

<!-- ユーザー検索 -->
<!-- ユーザー一覧 -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUserDto.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUserDto.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUserDto.TitleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUserDto.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUserDto.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AppUserDtos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId">編集</a> |
                    @*<a asp-action="Details" asp-route-id="@item.UserId">詳細</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.UserId">削除</a>
                </td>
            </tr>
        }
    </tbody>
</table>